body{
    margin: 0;
    padding: 0;
    background-color:#c5b38c;
/* alinhando alguns elementos exemplo (botao)*/
    display: flex;
    justify-content: center;
    align-items: center;


}
/*lista de tarefas*/
h1{
    margin: 12px;
    padding: 10px;
   color:#8B4513
}

/*botão adicionar*/

 .bt1{
width: 25%;
background-color:#886b49;
padding: 6px;
border-radius: 7px;
outline: none;         
 box-shadow: none; 
 margin-top: 12px;

/* -A borda existe, mas você não vê ela
Isso permite mudar a cor depois (ex: no :hover)
- cursor: pointer,  Muda o cursor do mouse pra aquela “mãozinha”
-Cria uma animação suave*/

 border: 2px solid transparent; /* invisível */
    cursor: pointer;
    transition: 0.2s;
}
/* Muda a cor do botão quando clicar e a borda ao selecionar o botão*/
.bt1:hover {
    border-color: #8B4513;
}

.bt1:active{
    background-color: #a46d45;
}


#p1{
width: 80%;
  padding: 12px;
border: 2px solid #d9beaa; /* invisível */
 cursor: pointer;
border-radius: 7px;

}
#p1:active{
background:#f3eee1; 
}
/*para quando o usuário digitar dentro do input*/

#p1:focus{
outline: none;  /* remove a borda preta padrão */
background-color: #f3eee1;
}

#formulario{
     display: flex;
    gap: 10px;
padding: 10px;
margin: 20px;
}

.cartao{
margin-top: 50px;
background-color:#F5F5DC;
padding: 10px;
border-radius: 15px;
width: 700px;
height: 500px;
flex-shrink: 0;
box-sizing: border-box;
display: flex;
flex-direction: column;
}

.listas{
display: flex;
justify-content: center;
align-items: flex-start;
gap:170px;
margin-top: 2px;
margin-left: 15px;
overflow-y: auto;
height: 300px;
scrollbar-width: none;
}

.listas::-webkit-scrollbar{
display:none;
}

.coluna{
    width: 30%;
    
}
.conteudo-coluna{
     height: 250px;
    overflow-y: auto;
}
.item{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    overflow-y: auto;
}
.botao-excluir{                   
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
  
          
}
.icone-excluir{
width: 24px;
height: 24px;
 
}
.texto-tarefa{
flex: 1;
 min-width: 0;
word-break: break-word;
}

.contConcluidas{
text-align: right ;
}

.DeletarC{
text-align: right ;
}

.bt2{ 
background-color:#886b49;
padding: 6px;
border-radius: 7px;
outline: none;         
box-shadow: none; 
border: 2px solid transparent; /* invisível */
cursor: pointer;
transition: 0.2s;
 margin-left: 620px;
}
.bt2:hover {
    border-color: #8B4513;
}

.bt2:active{
    background-color: #a46d45;
}
